{% extends "base.html" %}

{% block content %}
<table>
    {% for activity in activities_table %}
        <tr>
        {% for item in activity %}
            <td>{{ item }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
    {% if available_times %}
        <p>The available times in {{ available_times_room }} are</p>
        {% for available_time in available_times %}
            {{ available_time }}<br>
        {% endfor %}
    {% endif %}
    {% if available_rooms %}
        <p>The available rooms at {{ available_rooms_datetime }} are</p>
        {% for available_room in available_rooms %}
            {{ available_room }}<br>
        {% endfor %}
    {% endif %}
    {% if find_times_form and show_options['find_times'] %}
        <form method="post" novalidate>
        {{ find_times_form.hidden_tag() }}
        {{ find_times_form.room }} <br>
        {{ find_times_form.submit_find_times }}
        </form>
    {% endif %}
    {% if find_rooms_form and show_options['find_rooms'] %}
        <form method="post" novalidate>
        {{ find_rooms_form.hidden_tag() }}
        {{ find_rooms_form.week }}
            {{ find_rooms_form.day }}
            {{ find_rooms_form.time }}<br>
        {{ find_rooms_form.submit_find_rooms }}
        </form>
    {% endif %}
    {% if delete_activity_form and show_options['delete'] %}
<form action="" method="post" novalidate>
    {{ delete_activity_form.hidden_tag() }}
    {{ delete_activity_form.a_name }}<br>
    {{ delete_activity_form.submit_delete_id }}
</form>
{% endif %}
{% if add_activity_form and show_options['add'] %}
<form method="post" novalidate>
        {{ add_activity_form.hidden_tag() }}
        {{ add_activity_form.a_name }}<br>
{{ add_activity_form.r_name }}
    <input type="submit" value="Find all available rooms" name="find_rooms"><br><br>
{{ add_activity_form.week }}
{{ add_activity_form.day }}
{{ add_activity_form.time }}
    <input type="submit" value="Find all available times" name="find_times"><br>
{{ add_activity_form.max_attendees }}<br>
    {{ add_activity_form.food_supplied.label }}
{{ add_activity_form.food_supplied }}<br>

        <button type="button" id="addNewField">Add Teacher</button>
        {{ add_activity_form.teacher_list }}
        {{ add_activity_form.submit_add }}
    </form>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var addCount = 1;
            $("#addNewField").click(function() {
                var newInput = $("#teacher_list");
                newInput.append(GetDynamicTextBox(addCount));
                $("#teacher_list").append(newInput);
                addCount += 1;
            });
        });

        function GetDynamicTextBox(addCount) {
            return '<div>' +
            '<input name = "teacher' + addCount + '"type="text" value = "" placeholder="Surname of Teacher to add"/>&nbsp;' +
            '<input type="button" value="Remove" class="remove" />' + '</div>' ;
        }

        $(function () {
            $("#addNewField").click(function() {
                $("#subDirList").append(GetDynamicTextBox(addCount));

            });

            $("body").on("click", ".remove", function () {
                $(this).closest("div").remove();
                addCount -= 1;
            });
        });
    </script>
    <form action="" method="post" novalidate>
<input type="submit" value="Add" name="add">
<!--<input type="submit" value="Edit" name="edit">-->
<input type="submit" value="Delete" name="delete">
</form>
{% endblock %}