<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type = "text/css" href = "{{ url_for('static', filename='stylesheets/CSS.css') }}">
    </head>
    <body>
        <div>
            <img src="../static/highgate_logo.png" style="width: 313px; height: 61px"><br><br><br>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('teachers') }}">Teachers</a>
            <a href="{{ url_for('rooms') }}">Rooms</a>
            <a href="{{ url_for('activities') }}">Activities</a>
            <a href="{{ url_for('search') }}">Search</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert_box">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{ messages[0] }}
</div>
  {% endif %}
{% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>